:root{
    box-sizing: border-box;
    --color-primary : #fff;
    --color-seconday : rgb(113, 0, 128);
}

.intro-section{
    height: 100dvh;
    margin: -0.5rem -0.5rem 3rem -0.5rem;
    color: var(--color-secondary);
    /* rgb(86, 33, 155), rgb(243, 102, 226) */
    background-image: url("../screen.png"), linear-gradient(to bottom right, rgb(83, 26, 158), rgb(244, 9, 217));
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:4rem;
}



.intro-text{
    text-align: center;
    font-size: 3.6rem;
    margin-left: 5rem;
    margin-right: 5rem
}

.nav-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 5rem;
    justify-content: center;
    margin-left: 6rem;
    margin-right: 6rem;
}

.nav-buttons button{
    font-size: 3.5vh;
    padding:1rem;
}

@media only screen and (max-width: 760px) {
    .intro-text {
      font-size: 2rem;
    }
    .nav-buttons{
        gap : 1vh;
    }
    .nav-buttons button{
        margin: auto;
        font-size: 1.5rem;
        padding: 0.5rem;
    }
  }
  
