
.button{
    padding:0.5rem;
    font-size: 2.5rem;
    background-color: green;
    border: 2px solid green;
    border-radius: 20px;
}

button:hover{
    box-shadow: rgba(16, 123, 41, 1) 0 4px 15px;
    transition-duration: .1s;
}

