html {
    scroll-behavior: smooth;
   }
  


.button{
    padding:0.5rem;
    background-color:inherit;
    /* background-image: linear-gradient(to bottom right, #5680E9, #84CEEB); */
    border: 2px solid;
    border-radius: 20px;
}

.button:hover{
    scale: 1.05;
}

