.root{
    font: #fff;
    box-sizing: border-box;
}

.card{
    display: flex;
    gap:3rem;
    justify-content: space-around;
    font-size: 1.5rem;
    
    /* border: solid  green; */
}
.description{
    padding:1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid #f2bff7;
    border-radius: 1rem;
    transition: scale 450ms;
}

.description:hover{
    /* background-color:rgb(138, 219, 138); */
    scale: 1.05;
    box-shadow:#0f0f0f;
    
}
.project-image{
    padding: 1rem;
    height: auto;
}
.project-image img{
    width: 15rem;

}

@media only screen and (max-width: 580px){
    .card{
        font-size: 1.3rem;
    }

    .project-image{
        display: flex;
        justify-content: center;
    }
}