.root{
    font: #fff;
    box-sizing: border-box;
}

.card{
    display: flex;
    gap:3rem;
    justify-content: space-around;
    font-size: 1.5rem;
    /* border: solid  green; */
}

.description:hover{
    background-color:rgb(138, 219, 138);
}

.description{
    padding:1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1rem;
}
.project-image{
    padding: 1rem;
}
.project-image img{
    width: auto;
    height:15rem
}

@media only screen and (max-width: 580px){
    .card{
        font-size: 1.3rem;
    }

    .project-image{
        display: flex;
        justify-content: center;
    }
}