.root{
    box-sizing: border-box;
}

.footer{
    margin:1rem;
    padding:2rem;
}

.footer h1{
    text-align: center;
}

.footer img{
    height:3.5rem;
}

.contacts{
    margin:2rem;
    display: flex;
    justify-content: space-around;
}