.root{
    box-sizing: border-box;
}

.footer{
    margin:1rem;
    padding:2rem;
}

.footer h1{
    text-align: center;
}

.footer img{
    height:3.5rem;
}

.contacts{
    display: flex;
    justify-content: center;
    gap:2rem;
    flex-wrap: wrap;
}

.contacts p{
    font-size: 1.2rem;
    text-align: center;
}
