.root{
    font: #fff;
}

h1{
    text-align: center;
}
.cards{
    padding-top:2rem;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 580px){
    .card{
        flex-direction: column;
    }
}