.root{
    box-sizing: border-box;
}

.devskills{
    margin:4rem;
    display: flex;
    flex-wrap: wrap;
    gap : 3rem;
    justify-content: center;
}

.skill{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}

.skill img{
    height: 6rem;
    width: 6rem;
}

.problem-solving{
    margin:10rem;
    display: flex;
    gap:3rem;
    justify-content: space-around;
}

.pscard img{
    width:30rem;
    height:auto;
}

#codeforces{
    border: solid 2px green;
}

