.root{
    box-sizing: border-box;
}

.devskills{
    margin:4rem;
    /* border: solid 5px rgb(244, 9, 217); */
    display: flex;
    flex-wrap: wrap;
    gap : 3rem;
    justify-content: center;
}

.skills{
    padding-top:4rem;
    text-align: center;
}

.skill{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}

.skill img{
    height: 6rem;
    width: 6rem;
}

.problem-solving{
    padding:2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:3rem;
}

.pscard img{
    width:min(25rem, 95vw);
    height:auto;
}

#codeforces{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    gap:1rem;
}

#codechef{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap:1rem;
}

.codechef-desc{
    position: relative;
    text-align: center;
    bottom: min(15rem, 60vw);
    font-size: 1.5rem;
}

.profile-button{
    width: fit-content;
    align-self: center;
    font-size: 1rem;
    background-color:white;
    border: 2px solid rgb(83, 26, 158);
    border-radius: 5px;
}


