.work{
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    transition: scale 450ms;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px 10px rgb(83, 26, 158);
    font-size: 1.5rem;
    text-overflow: clip;

}

.work button, .work a{
        font-size: 1.2rem;
        color: white;
        background-color: #531a9e;
        /* background-color: rgb(232, 121, 226); */
        border: 1px solid rgb(83, 26, 158);
        border-radius: 5px;
        padding : 0.5rem;        
}

.work:hover{
    scale: 1.01;
}